.top-container {
  display: flex;
  flex-direction: column;
  font-family: Oxygen, sans-serif;
  align-items: center;
  background-color: #16394c;
  height: 100%;
  width: 100%;
  color: #fff;
  position: relative;

  .title {
    font-size: 16px;
    margin-top: 6px;

  }

  .btn-select-location {
    background-color: #49DCC2;
    font-size: 10px;
    font-family: Raboto, sans-serif;
    border-radius: 2px;
    color: #222;
  }
}
